/* Invoices.module.css */
.container {
    padding: 30px;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 80%;
  }
  
  .title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    border-bottom: 2px solid var(--primary-border-color);
    padding-bottom: 10px;
  }
  
  .invoiceList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .invoiceCard {
    background: linear-gradient(135deg, #ffffff, var(--background-color));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
  }
  
  .invoiceCard:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  }
  
  .invoiceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--text-color);
  }
  
  .invoiceId {
    color: var(--primary-color);
  }
  
  .invoiceDate {
    font-size: 14px;
    color: var(--secondary-color);
  }
  
  .invoiceDetails {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--text-color);
    gap: 20px;
  }
  
  .label {
    font-weight: bold;
    color: var(--text-color);
  }
  
  .value {
    color: var(--secondary-color);
  }
  
  .viewButton {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .viewButton:hover {
    background: var(--primary-color-hover);
    color: var(--primary-text-color);
  }
  
  .noInvoices {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
    background: var(--background-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  