.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .productsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    flex-grow: 1;
    width: 100%;
  }