html, body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  width: 100%;
}