.container {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 100;
  cursor: pointer;
}

.cart {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.cart:hover {
  background: var(--primary-color-hover);
}

.icon {
  font-size: 18px;
}

.text {
  font-size: 14px;
  font-weight: bold;
}

.price {
  background: white;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
  
  
/* Estilos para el Drawer */
.items {
  padding: 15px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  object-fit: contain; 
  border-radius: 4px;
  margin-right: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}

.removeButton {
  color: #ff4d4f;
}

.removeButton:hover {
  color: #d9363e;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #ddd;
}

.checkoutButton {
  color: white;
  padding: 10px;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 5px;
}


.priceItem {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

