:root {
    --primary-color: #326ba7;
    --primary-text-color: #ffffff;
    --primary-border-color: #0056b3;
  
    --secondary-color: #6c757d;
    --secondary-text-color: #ffffff;
    --secondary-border-color: #545b62;
  
    --background-color: #f8f9fA;
    --text-color: #212529;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  