.container {
  display: flex;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
  flex-grow: 1;
  width: 100%;
}

.mainContent {
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .mainContent {
    padding: 24px 0;
  }
}


/* Añadir esto a CustomerLayout.module.css */
@media (max-width: 768px) {
  .content {
    padding-bottom: 70px; /* Espacio para la barra inferior */
  }
}
