.card {
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.01);
}

.imageContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  padding: 16px;
  text-align: center;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #009f7f;
}

.cartButton {
  background: #fff;
  border: solid 1px #009f7f;
  color: #009f7f;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.cartButton:hover {
  background: #019376;
  color: #fff;
  border-color: #fff;
}


.cartControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.changeButton {
  background: #009f7f;
  color: white;
  border: none;
  padding: 4px 3px 0px 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.changeButton:hover {
  background: #007a63;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}